<div class="doctors">
    <img src="https://nld.mediacdn.vn/2019/5/21/1-1-15584108548221581612550-crop-15584108633391203515249.jpg" width="100%" alt="">
    <div class="container">
        <div class="info_doctor ">
            <div class="back_to_page">
                <i class="fa-solid fa-angle-left mr-2"></i>
                <a href="" style="color: #111;">Back to Doctors page</a>
            </div>
            <div class="name mt-3 mb-3">
                <h1>{{doctor.name}}</h1>
            </div>
            <div class="covit mb-3">
                <div class="logo ml-3">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/covid-vaccine.svg" alt="">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/vaccine-green-tick.svg" alt="">
                </div>
                <p class="ml-3">COVID-19 Vaccinated</p>
                <div class="ml-3">
                    <i class="fa-solid fa-heart text-danger"></i>
                    <i class="fa-solid fa-heart text-danger ml-2"></i>
                    <i class="fa-solid fa-heart text-danger ml-2"></i>
                    <i class="fa-solid fa-heart text-danger ml-2"></i>
                    <i class="fa-solid fa-heart text-danger ml-2"></i>
                </div>
                <span class="ml-3">57 Ratings</span>
            </div>
            <div class="describe mb-5">
                <p>{{doctor.description}}</p>
            </div>
            <div>
                <button class="btn btn-primary">Book Home Visit</button>
                <button class="btn btn-info ml-3">Book Clinic Visit</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <a class="edit" 
              href="#exampleModalToggle"
              data-bs-toggle="modal"
              role="button"
            >
              <div class="card text-white">
                <div class="content_max">
                  <div class="content_img">
                    <img
                      class="card-img-top width"
                      src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/specialties-icon.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Specialties</h4>
                  <p class="text_book">
                    {{doctor.faculty}}
                  </p>
                </div>
              </div></a
            >
          </div>
          <div class="col-lg-3">
            <a class="edit"
              href="#exampleModalToggle"
              data-bs-toggle="modal"
              role="button"
            >
              <div class="card text-white">
                <div class="content_max">
                  <div class="content_img">
                    <img
                      class="card-img-top width"
                      src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/school-icon.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Training</h4>
                  <p class="text_book">
                    {{doctor.traning}}
                  </p>
                </div>
              </div></a
            >
          </div>
          <div class="col-lg-3">
            <a class="edit"
              href=""
              data-bs-toggle="modal"
              role="button"
            >
              <div class="card text-white">
                <div class="content_max">
                  <div class="content_img">
                    <img
                      class="card-img-top width"
                      src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/degree-icon.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Degrees</h4>
                  <p class="text_book">
                   {{doctor.degrees}}
                  </p>
                </div>
              </div></a
            >
          </div>
          <div class="col-lg-3">
            <a class="edit"
              href=""
              data-bs-toggle="modal"
              role="button"
            >
              <div class="card text-white">
                <div class="content_max">
                  <div class="content_img">
                    <img
                      class="card-img-top width"
                      src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/languages-icon.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Languages</h4>
                  <p class="text_book">
                   {{doctor.languages}}
                  </p>
                </div>
              </div></a
            >
          </div>
    </div>  
</div>
<div class="container">
    <div class="education">
        <h1 class="mt-3 mb-3"><span style="border-bottom: 5px solid #2320D4;">Education</span> and Experiences</h1>
    </div>
    <div>
        <h3 class="mt-3 mb-3">Dr. Dao Duy Minh is experienced in managing:</h3>
        <p>
            Ear diseases: Earache, tinnitus, severe earache, purulent discharge caused by otitis media, mastoid otitis, etc.<br>

            Nasal diseases: Nasal congestion, acute rhinitis, allergic sinusitis, sinusitis caused by infection, sinusitis caused by teeth problems, nasal polyps.<br>

            Sore throat and larynx: VA in children, tonsillitis, acute laryngitis, chronic laryngitis, hoarseness, vocal cord granules, laryngeal polyp, especially screening for cancer of the nasopharynx, pharynx, larynx.
        </p>
    </div>

    <div class="clinical ">
        <div class="row">
            <div class="col-lg-3">
                <div class="icon_clinical">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/doctor-profile/clinical_experience-icon.svg" alt="">
                </div>
            </div>
            <div class="col-lg-9 clinical_right">
                <h2>Clinical Experience</h2>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>April 2017 - April 2020:</h5>
                    </div>
                    <div>
                        <span class="ml-2">Specialist in ENT, Victoria Healthcare Vietnam.</span>
                    </div>
                </div>
                
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>Oct 2012 - Sept 2015:</h5>
                    </div>
                    <div>
                        <span class="ml-2">General Practitioner - Van Phuc General Hospital.</span>
                    </div>
                </div>
                
                <h2 class="mt-3">Training in Vietnam:</h2>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clinical ">
        <div class="row">
            <div class="col-lg-3">
                <div class="icon_clinical">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/doctor-profile/training-icon.svg" alt="">
                </div>
            </div>
            <div class="col-lg-9 clinical_right">
                <h2>Training</h2>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>April 2017 - April 2020:</h5>
                    </div>
                    <div>
                        <span class="ml-2">Specialist in ENT, Victoria Healthcare Vietnam.</span>
                    </div>
                </div>
                
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>Oct 2012 - Sept 2015:</h5>
                    </div>
                    <div>
                        <span class="ml-2">General Practitioner - Van Phuc General Hospital.</span>
                    </div>
                </div>
                
               
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clinical ">
        <div class="row">
            <div class="col-lg-3">
                <div class="icon_clinical">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/doctor-profile/continuing_medical_education-icon.svg" alt="">
                </div>
            </div>
            <div class="col-lg-9 clinical_right">
                <h2>Continuing Medical Education</h2>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>April 2017 - April 2020:</h5>
                    </div>
                    <div>
                        <span class="ml-2">Specialist in ENT, Victoria Healthcare Vietnam.</span>
                    </div>
                </div>
                
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>Oct 2012 - Sept 2015:</h5>
                    </div>
                    <div>
                        <span class="ml-2">General Practitioner - Van Phuc General Hospital.</span>
                    </div>
                </div>
                
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <h5><i class="fa-solid fa-check text-success mr-2" ></i>2013 - 2015</h5>
                    </div>
                    <div>
                        <span class="ml-2"> Master's Degree of ENT, University of Medicine and Pharmacy, HCMC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 

