

<!-- main -->

<div class="banner mt-3">
    <owl-carousel-o [options]="customOptions">  
        <ng-template carouselSlide><img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/smart-clinic/banner-01.png" alt=""></ng-template>   
        <ng-template carouselSlide><img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/smart-clinic/banner-02.png" alt=""></ng-template>   
        <ng-template carouselSlide><img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/smart-clinic/banner-03.png" alt=""></ng-template>  
        <ng-template carouselSlide><img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/smart-clinic/banner-05.png" alt=""></ng-template>   
        <ng-template carouselSlide><img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/smart-clinic/banner-06.png" alt=""></ng-template>         
    </owl-carousel-o> 
      <div class="booking">
            <div class="booking-content">
                <div  class="title">
                    <h3  class="heading-primary no-underline">Welcome to the<br>Future of Healthcare</h3>
                </div>
                <a class="btn btn-banner btn-booking" routerLink="/care-service">Book Appointment</a>
                <a class="btn btn-banner btn-learn-more" href="">Learn More</a>
                <img class="heart-icon" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/heart-icon.svg" alt="">
                <img class="clinic-icon" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/banner-clinic-icon.svg" alt="">
            </div>
      </div>
</div>

<!--Smart-->
<div class="clinic-smart mt-5 pb-5">
    <div class="container" style="position: relative;">
        <h3 class="title-smart">
            Explore our Smart Clinics
        </h3>
        <div class="clinic-hcm">
            <img src="https://cdn.jiohealth.com/apps/clinic/1/i-2@3x.png" class="card-img main-pic" alt="">
        </div>
        <div class="content-clinic">
            <h4>mPlaza - HCM</h4>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>Lầu 1, Tòa nhà Mplaza, 39 Lê Duẩn, Bến Nghé, Quận 1</p>
            </div>
            <div class="schedule">
                <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/smart-clinic/clock.svg" alt="">
                <p>Everyday, 07:00 AM - 08:00 PM</p>
            </div>
            <div class="reservation mt-4">
                <div class="call  btn-hover">
                    <a href="" class="btn">Call Now</a>
                </div>
                <div class="book btn-hover">
                    <a href="" class="btn">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="feature-item mt-5">
    <owl-carousel-o [options]="customOptions1">  
        <ng-template carouselSlide> 
            <div class="feature">
                <a routerLink="/creat-prescription">
                    <h3>Home Visit</h3>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/home-visit-bg.png" class="card-img" alt="">
                </a>
            </div>
        </ng-template>                  
        <ng-template carouselSlide> 
            <div class="feature" style="background-color: #eae7fb !important;">
                <a routerLink="/creat-prescription">
                    <h3>Pharmacy</h3>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/pharmacy-bg.png" class="card-img" alt="">
                </a>
            </div>
        </ng-template>         
        <ng-template carouselSlide> 
            <div class="feature" style="background-color: #f2ddde !important;">
                <a routerLink="/creat-prescription">
                    <h3>Find a doctor</h3>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/find-doctor-bg.png" class="card-img" alt="">
                </a>
            </div>
        </ng-template>         
        <ng-template carouselSlide> 
            <div class="feature" style="background-color: #f8fbda !important;">
                <a routerLink="/creat-prescription">
                    <h3>Care Packages</h3>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/care-packages-bg.png" class="card-img" alt="">
                </a>
            </div>
        </ng-template>  
        <ng-template carouselSlide> 
            <div class="feature" style="background-color: #ddf0ed !important;">
                <a routerLink="/creat-prescription">
                    <h3>Corporate Health Solutions</h3>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/corporate-bg.png" class="card-img" alt="">
                </a>
            </div>
        </ng-template>       
    </owl-carousel-o> 
 
</div>
<img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/health-care-bottom-wave.svg" alt="">
<div class="container-fluid mt-5 video-page">
    <div class="row">
        <div class="col-lg-3 p-0">
            <div class="title-advertisement">
                <h2 class="two-font-type-title">Our Doctors Come to You</h2>
            </div>
            <p class="info-heading"><span>Home visits starting at only <b>400.000 ₫</b></span></p>
            <div class="book-service mt-4">
                <div class="book-home">
                    <a href="" class="btn">Book Home Visit</a>
                </div>
                <div class="learn-more">
                    <a href="" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 pl-3 pr-0">
            <div class="video">
                <div class="vid-doctor">
                    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"  src="https://cdn.jiohealth.com/video/doctor/Our_Doctors_Come_to_You_Short_Ver_LQ.mp4" ></video>
                </div>
                <div class="frame-vid">
                    <img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/doctors-come-to-you-video-cover.svg" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<!---->
<div class="container-fluid mt-5 video-page mt-5">
    <div class="row">
        <div class="frame-video">
            <img class="card-img" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/online-pharmacy-video-cover.svg" alt="">
            <div class="left-video2 pl-3 pr-0 video2">
                <div class="video">
                    <div class="vid-doctor">
                        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"  src="https://cdn.jiohealth.com/video/doctor/Pharmacy_Short_Version_LQ.mp4" ></video>
                    </div>
                </div>
            </div>
            <div class="right-video2 p-0 your-family">
                <div class="title-video2">
                    <div class="title-advertisement">
                        <h2 class="two-font-type-title">Your Family's Trusted Online Pharmacy</h2>
                    </div>
                    <p class="info-heading"><span>Certified medications at everyday low prices - delivered to you in 2 hours or less</span></p>
                    <div class="row mt-3">
                            <div class="col-lg-5 delivery">
                                <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/delivery-icon.svg" alt="">
                                <p>2 Hour Delivery</p>
                            </div>
                            <div class="col-lg-7 discount">
                                <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/discount-icon.svg" alt="">
                                <p>10% Savings on all Products  </p>
                            </div>
                    </div>
                    <div class="book-home mt-3 p-0">
                        <a href="" class="btn">Shop Now</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>




























