<div class="covid-19">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-7 text-left">
                <div class="title">
                    <h2>Latest updates on COVID-19</h2>
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/covid-virus-icon-red.svg?fbclid=IwAR2Im_JSozhHyo83355xorI4OcqKuzup_iO7mbHgu6K7z_QfNPwvO2y7OOk" class="covid-red" width="68px" alt="">
                    <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/covid-virus-icon-blue.svg?fbclid=IwAR393vKP58QyzNc10SUnGciXkB1wKumMsMGHWkMyKzlKaJRNUvXudVRCVzU" class="covid-blue" width="105px" alt="">
                </div>
            </div>
            <div class="col-5">
                <a href="" class="btn btn-white">Learn More</a>
                <img class="cvid-red" width="104px" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/covid-virus-icon-red.svg?fbclid=IwAR0frPtTfGmKek0b_EywqSeymXKWqH1cjtegyJG5cjOzSRiyfuDO5ZplAyw" alt="">
                <img class="cvid-blue" width="170px" src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/covid-virus-icon-blue.svg?fbclid=IwAR32MiJYNkB1m7RZxCG8fQDqcKReURdq8GOFOwcgPBvbwpZLrb984WgF5tA" alt="">
            </div>
        </div>
    </div>
</div>
<div class="bg-header-top">
    <div class="header-main">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="row contact">
                    <p>Contact: +84 9876 55555</p>
                    <p>Emergency: 1900 1584</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="socials">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-google-plus-g"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-main mt-3 box-sd">
    <div class="row menu">
        <div class="logo" style="height: 80px; padding-bottom: 10px ;">
            <img src="assets/image/logo1.png" alt="" height="100%" >
        </div>
        <div class="nav-menu">
            <ul>
                <li><a routerLink="/">HOME </a></li>
                <li><a routerLink="/care-service">CARE SERVICES <i class="fa-solid fa-angle-down ml-1"></i></a>
                    <ul>
                        <li>Clinical Specialties <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/clinic-service-icon.svg" alt="">
                            
                        </li>
                        <li>Home Doctor Services <img src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/home-visit-service-icon.svg" alt=""></li>
                        <!-- <li>hahaha</li> -->
                    </ul>
                </li>
                <li><a routerLink="/contact">CONTACT</a></li>
                <li><a href="">HEALTH PLANS <i class="fa-solid fa-angle-down ml-1"></i></a>
                    <ul>
                        <li> Jio Prime </li>
                        <li> Jio Premium </li>
                        <li> Vaccination </li>
                        <li> Maternity </li>
                        <li> Corporate Check Up </li>
                    </ul>
                </li>
                <li><a routerLink="/list-doctor">DOCTORS</a><i class="fa-solid fa-angle-down ml-1"></i>
                    <ul>
                        <li>doctor</li>
                        <li>doctor</li>
                        <li>doctor</li>
                        <li>doctor</li>
                    </ul>
                </li>
                <li><a routerLink="/blog">BLOG </a></li>
            </ul>
            <div class="user">
                <i class="fa-solid fa-circle-user" routerLink="/form"></i>
            </div>
            <div class="book">
                <a href="" class="book1">book now</a>
            </div>
        </div>
        <div class="nav-menu-1024">
            <i class="fa-solid fa-bars" style="font-size:18px"></i>
        </div>
    </div>
</div>