<div class="container">
    <h3 class="mt-4">Book</h3>
    <div class="book mt-4">
        <div class="list_book">
            <div class="header-book d-flex align-items-center justify-content-between mb-4 pb-2">
                <div class="date">August 15, 2019</div>
                <div class="edit">
                    <button type="button" class="btn btn-primary">Edit Book</button>
                </div>
            </div>
            <div class="content">
                <div class="name d-flex">
                    <p>Name patient : </p>
                    <span> DC Trí</span>
                </div>
                <div class="phone d-flex">
                    <p>Phone : </p>
                    <span>0355719203</span>
                </div>
                <div class="doctor d-flex">
                    <p>Name Doctor : </p>
                    <span>Đào Duy Minh</span>
                </div>
                <div class="address d-flex">
                    <p>Address : </p>
                    <span>110 Trần Duy Hưng</span>
                </div>
                <div class="note d-flex">
                    <p>Note : </p>
                    <span>No hat</span>
                </div>
            </div>
        </div>
    </div>
    <div class="book mt-4">
        <div class="list_book">
            <div class="header-book d-flex align-items-center justify-content-between mb-4 pb-2">
                <div class="date">August 15, 2019</div>
                <div class="edit">
                    <button type="button" class="btn btn-primary">Edit Book</button>
                </div>
            </div>
            <div class="content">
                <div class="name d-flex">
                    <p>Name patient : </p>
                    <span> DC Trí</span>
                </div>
                <div class="phone d-flex">
                    <p>Phone : </p>
                    <span>0355719203</span>
                </div>
                <div class="doctor d-flex">
                    <p>Name Doctor : </p>
                    <span>Đào Duy Minh</span>
                </div>
                <div class="address d-flex">
                    <p>Address : </p>
                    <span>110 Trần Duy Hưng</span>
                </div>
                <div class="note d-flex">
                    <p>Note : </p>
                    <span>No hat</span>
                </div>
            </div>
        </div>
    </div>
</div>
