<div class="banner_order">
    <!-- <img style="height: 100%;"
      src="https://pharmacy.jiohealth.com/prescription-bg.818943c30b1d0dc12f37.svg"
      alt=""
    /> -->
    <div class="container order_">
      <div class="create_order">
       
          <div class="order_text">
            <h3 >Create Your Online Prescription</h3>
        </div>
        <div class="step">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="step_text">
                  <p>
                    It's easy to create an online prescription. Just take a 
                    picture of your  prescription and <br> send it to us. Pharmacist Jio
                    Health will contact you to confirm your prescription, advise <br>
                    on th best drugs at the best price, and support  
                    <br> quick delivery in 2 hours
                  </p>
  
                  <div class="step_item">
                    <div class="step_prescription">
                      <div class="box_iccon">
                        <img
                          src="https://pharmacy.jiohealth.com/assets/icons/camera.svg"
                          alt=""
                        />
                      </div>
                      <div class="text">
                        <h5>Step 1</h5>
                        <p>Take your prescription and send it to us</p>
                      </div>
                    </div>
                    <div class="step_prescription">
                      <div class="box_iccon">
                        <img
                          src="https://pharmacy.jiohealth.com/assets/icons/headphone.svg"
                          alt=""
                        />
                      </div>
                      <div class="text">
                        <h5>Step 2</h5>
                        <p>Pharmacist contact to confirm prescription</p>
                      </div>
                    </div>
                    <div class="step_prescription">
                      <div class="box_iccon">
                        <img
                          src="https://pharmacy.jiohealth.com/assets/icons/package.svg"
                          alt=""
                        />
                      </div>
                      <div class="text">
                        <h5>Step 3</h5>
                        <p>Your medicine will be delivered in 2 hours</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <img
                  src="	https://pharmacy.jiohealth.com/assets/images/doctor-rx.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="start">
          <button class=" mb-5 mt-3">START  IMMEDIATELY</button>
        </div>
      </div>
     
    </div>
  </div>
