<div class="service">
    <div class="baner_service">
      <img
        src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/book-appointment-bg.e50ae321ba2d0b6d0b80.png"
        alt=""
      />
      <div class="banner_text">
        <h2>Book Appointment</h2>
      </div>
    </div>
    <div class="baner_footer">
      <img src="	https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/images/homepage/health-care-bottom-wave.svg" alt="">
    </div>
    <div class="container">
      <div class="progress-bar"></div>
      <div class="content_service">
        <div class="title">
          <img
            src="https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.6/assets/icons/smart-clinic/note-icon.svg"
            alt=""
          />
          <h3>Choose a Service</h3>
          <div class="line ng-star-inserted"></div>
        </div>
        <div class="item_service">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <a
                  class=""
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  role="button"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="	https://cdn.jiohealth.com/apps/service/clinic/1.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">General Care</h4>
                      <p class="text_book">
                        Next Available Time <span class="b">Today at 11:00</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>25$</p></a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
  
              <div class="col-lg-4 col-sm-6">
                <a
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  role="button"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="	https://cdn.jiohealth.com/apps/service/clinic/2.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Pediatrics</h4>
                      <p class="text_book">
                        Next Available Time
                        <span class="b">Tomorrow at 17:15</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>27$</p></a>
                      </div>
                    </div>
                  </div></a
                >
              </div>
  
              <div class="col-lg-4 col-sm-6">
                <a
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  role="button"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="			https://cdn.jiohealth.com/apps/service/clinic/9.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Eye Care</h4>
                      <p class="text_book">
                        Next Available Time <span class="b">Today at 16:00</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>30$</p></a>
                      </div>
                    </div>
                  </div></a
                >
              </div>
  
              <div class="col-lg-4 col-sm-6">
                <a
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  role="button"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="			https://cdn.jiohealth.com/apps/service/clinic/3.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Ear, Nose, & Throat</h4>
                      <p class="text_book">
                        Next Available Time <span class="b">Today at 11:00</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>23$</p></a>
                      </div>
                    </div>
                  </div></a
                >
              </div>
  
              <div class="col-lg-4 col-sm-6">
                <a
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  role="button"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="		https://cdn.jiohealth.com/apps/service/clinic/11.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Annual Health Check Up</h4>
                      <p class="text_book">
                        Next Available Time <span class="b">Today at 16:00</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>150$</p></a>
                      </div>
                    </div>
                  </div></a
                >
              </div>
  
              <div class="col-lg-4 col-sm-6">
                <a
                  href="#exampleModalToggle"
                  data-toggle="modal"
                  role="button"
                  data-target="#exampleModal"
                >
                  <div class="card text-white">
                    <div class="content_max">
                      <div class="content_img">
                        <img
                          class="card-img-top width"
                          src="	https://cdn.jiohealth.com/apps/service/clinic/6.png"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Cardiology examination</h4>
                      <p class="text_book">
                        Next Available Time
                        <span class="b">Tomorrow at 17:00</span>
                      </p>
                      <div class="text_price">
                        <a href="" class="card-text"><p>25$</p></a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Provide Your Information</h3>
          <p>
            Please leave your name and phone number so we may confirm your
            appointment.
          </p>
          <form
          action=""
          [formGroup]="Book"
          (ngSubmit)="submit_book()"
          class="Form"
        >
          <section class="form-group text-left">
           
              <div class="form-group ng-pristine ng-invalid ng-touched">
                <label for="" class="font-bold">
                  Full Name
                  <span _ngcontent-c5="" class="is-require">&nbsp;*</span>
                </label>
                <div class="form-group">
                  <input
                    formControlName="name"
                    _ngcontent-c5=""
                    class="form-control"
                    placeholder="Your Full Name"
                  />
                  <div
                    class="text-danger"
                    *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                  >
                    <div *ngIf="f.name.errors?.['required']">
                      <small>Email is required</small>
                    </div>
                    <div *ngIf="f.name.errors?.['minlength']">
                      <small>At least 3 characters</small>
                    </div>
                  </div>
                </div>
              </div>
          
          </section>
  
          <section>
            <div class="form-group-number">
              <label _ngcontent-c5="" class="font-bold" for="d9CflK7"
                >Phone Number
                <!----><span _ngcontent-c5="" class="is-require ng-star-inserted"
                  >&nbsp;*</span
                ></label
              >
              <div class="phone-number">
                <div class="form-group">
                  <input
                    formControlName="phone"
                 
                    class="form-control"
                  
                    placeholder="Phone number"
                  />
                  <div
                    class="text-danger"
                    *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)"
                  >
                    <div *ngIf="f.phone.errors?.['required'] ">
                      <small>Email is required</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
  
          <section>
            <select name="" id="List_docter">
              <option value="">List of docter</option>
              <option value="">TS. BS. Nguyễn Văn Sĩ</option>
              <option value="">ThS. BS. Nguyễn Ngọc Bách</option>
              <option value="">ThS. BS. Đào Duy Minh</option>
              <option value="">ThS. BS. CKI. Nguyễn Minh Châu</option>
              <option value="">ThS. BS. Trương Thị Ái Hòa</option>
              <option value="">ThS. BS. CKI. Nguyễn Thị Hoa</option>
              <option value="">ThS. BS. CKI. Nguyễn Ngọc Quỳnh Dung</option>
              <option value="">ThS. BS. CKI. Nguyễn Thị Kim Dung</option>
            </select>
          </section>
          <section>
            <div class="date">
              <input type="date" />
              <input type="time" class="time_date" />
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <div class="modal_sumit">
            <div class="row">
              <div class="col-lg-6">
                <button
                  _ngcontent-c26=""
                  class="btn btn-primary-border btn-block"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  type="button"
                  class="btn btn-primary btn-block background"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>